<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.apri.common.masterHelper.KeyValueMapper">
    <select id="queryTantousya" resultType="com.apri.common.masterHelper.KeyValue">
        SELECT tantousya_renban AS "key",
               simei AS "value"
          FROM tantousya
    </select>
    
    <select id="querykeyValue" resultType="com.apri.common.masterHelper.KeyValue">
        SELECT key AS "key",
               value AS "value"
          FROM key_value_tbl
         Where renban = #{renban}
         ORDER BY sort_no
    </select>

    <resultMap id="ResultMapInteger" type="com.apri.common.masterHelper.KeyValue">
      <result property="key" column="key" javaType="Integer" />
  	  <result property="value" column="value" javaType="String" />
    </resultMap>
    <select id="querykeyValueInteger" resultMap="ResultMapInteger">
        SELECT key AS "key",
               value AS "value"
          FROM key_value_tbl
         Where renban = #{renban}
         ORDER BY sort_no
    </select>

    <resultMap id="ResultMapLong" type="com.apri.common.masterHelper.KeyValue">
      <result property="key" column="key" javaType="Long" />
  	  <result property="value" column="value" javaType="String" />
    </resultMap>
    <select id="querykeyValueLong" resultMap="ResultMapLong">
        SELECT key AS "key",
               value AS "value"
          FROM key_value_tbl
         Where renban = #{renban}
         ORDER BY sort_no
    </select>
    
</mapper>
