<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.apri.iframe2.MenuMapper">
    <select id="selectAll" resultType="com.apri.iframe2.MenuDomain">
        SELECT menu_bangou,
               gyoumu_meisyou,
               meisyou,
               url
          FROM menu
         ORDER BY hyouji_jyun
    </select>
</mapper>
