<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.apri.select.TantousyaMapper">
    <select id="selectAll" resultType="com.apri.select.TantousyaDomain">
        SELECT tantousya_renban,
               simei
          FROM tantousya
    </select>
    
    <select id="find_selectAll" resultType="com.apri.common.customTag.LabelValue">
        SELECT tantousya_renban as "value",
               simei as "label"
          FROM tantousya
    </select>
    
    <select id="find_Map_selectAll" resultType="java.util.Map">
        SELECT tantousya_renban,
               simei
          FROM tantousya
    </select>
</mapper>
