<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymleaf.org">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrapの基本テンプレート</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}" />
  </head>
  <body>
	<h1>Config設定画面</h1>
	<form id="form" method="POST" action="/config/commit" th:object="${registForm}">
	 <ul>
      SQLログ出力：<p th:text="${sql_log_hyouji_flg}"></p>
    </ul>
          <div class="form-group">
            <label class="control-label">SQLログ出力</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="sql_log_hyouji_flg" value="on" th:field="*{sql_log_hyouji_flg}" /> 
              </label>
            </div>
          </div>
  	  <div class="controller container">
	    <input type="submit" value="登録">
	  </div>
	</form>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>
  </body>
</html>