<?xml version="1.0" encoding="UTF-8"?>
<configuration>
　 　<!-- ファイルの出力先を指定する事。 -->
  <property name="log_dir" value="C:/logs" />
  
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	<target>System.out</target>
    <encoder>
	  <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %highlight(%-5le) %cyan(%-40.40lo{36}) - %green(%msg) %n</pattern>
    </encoder>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>    
  </appender>

  <appender name="DUMP_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
	<target>System.out</target>
    <encoder>
	  <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %highlight(%-5le) %cyan(%-40.40lo{36}) - %green(%msg) %n</pattern>
    </encoder>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter>    
  </appender>
  
  <appender name="SQL_LOGGER" class="ch.qos.logback.core.ConsoleAppender">
	<target>System.out</target>
    <encoder>
	  <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %highlight(%-5le) %cyan(%-40.40lo{36}) - %green(%msg) %n</pattern>
    </encoder>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>    
  </appender>

  <appender name="FILE_A" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_dir}\SystemOut.log</file>
　　　 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
       <!-- daily rollover -->
       <fileNamePattern>${log_dir}\SystemOut.%d{yyyyMMdd}.log</fileNamePattern>
       <!-- keep 30 days worth of history -->
       <maxHistory>7</maxHistory> 
    </rollingPolicy>    
    <encoder>
	  <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5le %lo{36} [%file:%line] - %msg %n</pattern>
    </encoder>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>    
  </appender>
  
  <appender name="FILE_B" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log_dir}\SystemErr.log</file>
　　　 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
       <!-- daily rollover -->
       <fileNamePattern>${log_dir}\SystemErr.%d{yyyyMMdd}.log</fileNamePattern>
       <!-- keep 30 days worth of history -->
       <maxHistory>7</maxHistory> 
    </rollingPolicy>    
    <encoder>
	  <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5le %lo{36} [%file:%line] - %msg %n</pattern>
    </encoder>
	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>    
  </appender>
  
　　<logger name="dump_logger" level="TRACE" additivity="false">
    <appender-ref ref="DUMP_LOGGER" />
  </logger>  
 
　　<logger name="sql_logger" level="INFO" additivity="false">
    <appender-ref ref="SQL_LOGGER" />
    <appender-ref ref="FILE_A" />
  </logger>
  
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE_A" />
    <appender-ref ref="FILE_B" />
  </root>
</configuration>
