<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.apri.trans.TantousyaMapper">
    <select id="selectAll" resultType="com.apri.trans.RegistContent">
        SELECT tantousya_renban,
               tantousya_id,
               simei 
          FROM tantousya
    </select>
    
    <insert id="insert" parameterType="com.apri.trans.RegistContent">
        INSERT INTO TANTOUSYA (tantousya_renban,tantousya_id,simei) 
        VALUES (#{tantousya_renban},#{tantousya_id},#{simei})
    </insert>

    <update id="update" parameterType="com.apri.trans.RegistContent">
        UPDATE TANTOUSYA 
           SET simei = #{simei}
         WHERE tantousya_renban =  #{tantousya_renban}
    </update>
</mapper>
