<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.apri.login.LoginMapper">
    <select id="findById" resultType="com.apri.login.UserValue">
        SELECT tantousya_renban,
               tantousya_id,
               password,
               simei 
          FROM tantousya
         WHERE tantousya_id = #{tantousya_id}
    </select>
</mapper>
