<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymleaf.org">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrapの基本テンプレート</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-1/css/bootstrap.min.css}" />
  </head>
  <body>
	<h1>session2</h1>
	<p class="bg-primary">セッションデータ(同じコントローラ)</p>
    <div id="search_message"></div>
	
 <table>
 <tr>
   <th>tantousya_renban</th>
   <th>tantousya_id</th>
   <th>simei</th>
 </tr>
 <tr th:each="content:${list}">
   <td th:text="${content.tantousya_renban}"></td>
   <td th:text="${content.tantousya_id}"></td>
   <td th:text="${content.simei}"></td>
 </tr>
 </table>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0-1/js/bootstrap.min.js}"></script>
  </body>
</html>