<!DOCTYPE html>
<html xmlns="http://www.thymleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
  <h4>tantousya List</h4>
	<form id="form" method="POST" action="/select2/commit" th:object="${selectForm}">
      <td>
        <select th:field="*{tantousya_renban}">
           <option th:each="item : ${find_map}" th:value="${item.key}" th:selected="${item.key == tantousya_renban}"  th:text="${item.value}"></option>
        </select>
      </td>
      Map:
      <td custom:label="${find_map}" selectedValue="*{tantousya_renban}" /> 
      <td>
        <select th:field="*{tantousya_renban}">
           <option th:each="item : ${find_key_value}" th:value="${item.key}" th:selected="${item.key == tantousya_renban}"  th:text="${item.value}"></option>
        </select>
      </td>
      Integer:
      <td custom:label="${find_key_value}" selectedValue="*{tantousya_renban}" /> 
      String:
      <td custom:label="${find_key_value_string}" selectedValue="*{mode}" /> 
	</form>
  </td>
</body>
</html>